        <footer>
            <div class="logos">
                <div class="logos-slide">
                    <img src="/img/amac.png" alt="amac logo">
                    <img src="/img/rootnet.png" alt="rootnet logo">
                    <img src="/img/ictrecht.png" alt="ictrecht logo">
                    <img src="/img/amac.png" alt="amac logo">
                    <img src="/img/rootnet.png" alt="rootnet logo">
                    <img src="/img/ictrecht.png" alt="ictrecht logo">
                    <img src="/img/amac.png" alt="amac logo">
                    <img src="/img/rootnet.png" alt="rootnet logo">
                    <img src="/img/ictrecht.png" alt="ictrecht logo">
                    <img src="/img/amac.png" alt="amac logo">
                </div>
                <div class="logos-slide">
                    <img src="/img/rootnet.png" alt="rootnet logo">
                    <img src="/img/ictrecht.png" alt="ictrecht logo">
                    <img src="/img/amac.png" alt="amac logo">
                    <img src="/img/rootnet.png" alt="rootnet logo">
                    <img src="/img/ictrecht.png" alt="ictrecht logo">
                    <img src="/img/amac.png" alt="amac logo">
                    <img src="/img/rootnet.png" alt="rootnet logo">
                    <img src="/img/ictrecht.png" alt="ictrecht logo">
                    <img src="/img/amac.png" alt="amac logo">
                    <img src="/img/rootnet.png" alt="rootnet logo">
                </div>
            </div>

            <section class="footer-logo-section">
                <img class="footer-logo" src="/img/logo-mobile.svg" alt="logo">
                <a href="">INLOGGEN
                    <img src="/img/arrow.svg" alt="arrow svg">
                </a>
            </section>

            <section class="footer-navigation-list-section">
                <ul>
                    <li><p>Over ons</p></li>
                    <li><p>Events</p></li>
                    <li><p>Publicaties</p></li>
                    <li><p>Leden</p></li>
                    <li><p>Vacatures</p></li>
                    <li><p>Algemene voorwaarden</p></li>
                    <li><p>Privacy beleid</p></li>
                </ul>
            </section>

            <section class="footer-info-section">
                    <ul class="footer-info-section-address">
                        <li><p>Dutch Digital Agencies</p></li>
                        <li><p>Overhoeksplein 1</p></li>
                        <li><p>1031 KS Amsterdam</p></li>
                    </ul>
                    <ul class="footer-info-section-contact">
                        <li><p><a href="tel:+31854010391">(0)85 4010391</a></p></li>
                        <li><p><a href="mailto:info@dutchdigitalagencies.com">info@dutchdigitalagencies.com</a></p></li>
                    </ul>
            </section>

            <section class="footer-socialmedia-section">
                <ul>
                    <li><p>Instagram</p></li>
                    <li><p>Facebook</p></li>
                    <li><p>LinkedIn</p></li>
                </ul>
                <p>Copyright &copy; 2025 Dutch Digital Agencies</p>
            </section>

        </footer>
    </body>
</html> 