<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/script.js"></script>
    {% assign siteName = "Onze leden - Dutch Digital Agencies" %}
    <title>
        {{ pageTitle }}
    </title>
  </head>
<body>  
<header class="header">
    <img class="logo" src="/img/logo.svg" alt="DDA logo">

    <a href="#menu" class="menu-open-link">
      <img class="hamburger-svg" src="/img/hamburger.svg" alt="Menu openen">
    </a>

    <nav id="menu" class="main-nav">

      <a href="" class="menu-close-link">
        <img class="kruis-svg" src="/img/close.svg" alt="Menu sluiten">
      </a>

      <ul class="nav-list">
        <li><a href="/over-ons">Over ons</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/publicaties">Publicaties</a></li>
        <li><a href="/leden">Leden</a></li>
        <li><a href="/vacatures">Vacatures</a></li>
      </ul>

      <hr class="bar">
      
      <div class="nav-actions">
        <a class="inloggen-link" href="/inloggen">Inloggen 
          <img src="/img/arrow.svg" alt="">
        </a>
        <div class="lid-worden-container">
          <a class="lid-worden-link" href="/word-lid">Word lid</a>
          <span class="lid-worden-svg">
            <img src="/img/arrow-right-black.svg" alt="">
          </span>
        </div>
      </div>
    </nav>
</header>