<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/script.js"></script>
    {% assign siteName = "Onze leden - Dutch Digital Agencies" %}
    <title>
      {% if pageTitle %}
        {{ pageTitle }}
      {% else %}
        {{ defaultTitle }}
      {% endif %}
    </title>
  </head>
<body>  
  <nav class="nav-bar">
        <img class="logo-svg" src="/img/logo-mobile.svg" alt="DDA logo">
        <button>
            <img class="hamburger-svg" src="/img/hamburger.svg" alt="hamburger menu svg">
        </button>
  </nav>
