<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/script.js"></script>
    {% assign siteName = "Onze leden - Dutch Digital Agencies" %}
    <title>
        {{ pageTitle }}
    </title>
  </head>
<body>  
<header class="header">
    <img class="logo" src="/img/logo.svg" alt="DDA logo">

    <button class="menu-btn" aria-label="Menu openen/sluiten">
      <img class="hamburger-svg" src="/img/hamburger.svg" alt="Menu openen knop">
      <img class="kruis-svg" src="/img/close.svg" alt="Menu sluiten knop">
    </button>

    <nav class="main-nav">
      <ul class="nav-list">
        <li><a href="/over-ons">Over ons</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/publicaties">Publicaties</a></li>
        <li><a href="/leden">Leden</a></li>
        <li><a href="/vacatures">Vacatures</a></li>
      </ul>
      
      <div class="nav-actions">
        <a href="/inloggen">Inloggen <img src="/img/arrow.svg" alt=""></a>
        <a href="/word-lid">Word lid <img src="/img/plus.svg" alt=""></a>
      </div>
    </nav>
</header>