body {
    font-family: 'Archivo', sans-serif;
    color: var(--black);
    background-color: var(--white);
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box; /* Zorgt ervoor dat alles border-box gebruikt */
}

main{
    width: 100%;
}

/* title container */

.page-title-container{
    border-bottom: solid var(--black) 1px;
    padding: 1em;
}

.page-title{
    display: flex;
    flex-direction: column;
}

.page-title > a{
    color: var(--black);
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
    img{
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;

    }
}

.page-title > h1{
    margin: 0;
    display: flex;
    justify-content: center;
}

.page-title-content > p{
    margin-left: 1em;
    margin-right: 1em;
}

.filter-container{
    border-bottom: solid 1px var(--black);
    padding: 1em;
}

.filters{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.search-bar > input{
    border: none;
    border-bottom: 1px solid var(--black);
    color: var(--black);
    margin-bottom: 1em;
}

.provincie-filter, .omvang-filter, .sorteren-filter {
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
    border: 1px solid var(--black);
}

select {
    cursor: pointer;
    appearance: none; /* Verwijdert de standaard dropdown-pijl */
    padding: 12px 16px;
    text-transform: uppercase;
    border: none !important;
}

.select-button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-left: solid var(--black) 1px;
}

.select-button-icon img {
    width: 25px;
    height: 25px;
}

/* ledencards */

.leden-card-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (min-width: 700px) {
    .leden-card-grid {
        grid-template-columns: 1fr 1fr; 
    }
    
}

@media (min-width: 1340px) {
    .leden-card-grid {
        grid-template-columns: 1fr 1fr 1fr; 
    }
}

.leden-card{
    width: 100%;
    border-right: solid 1px var(--black);
    border-bottom: solid 1px var(--black);
    padding: 2em;
}

.leden-card img{
    border: solid 1px var(--black);
    width: 100%;
    height: 312px;
    object-fit: cover;
}

.leden-card a{
    color: var(--blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
}

.leden-card a img{
    width: 15px;
    height: 15px;
    border: none;
}


/* detailpagina */

.lid-details-main{
    padding: 1em;
}

.lid-image{
    width: 100%;
    object-fit: cover;
    border: solid var(--black) 1px;
}

.lid-details-title{
    display: flex;
    justify-content: center;
    margin-top: 0;
    text-align: center;
    width: fit-content;
    margin-inline: auto;
}


.contact a, p{
    color: var(--black);
}

#filter-submit-button{
    border: solid black 1px;
    background: none;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* lid toevoegen */
.lid-toevoegen-form{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 1em;

    input{
        border: solid black 1px;
        background-color: white;
        border-radius: 5px;
        padding: 0.5em;
    }

    button{
        margin-top: 1em;
        width: max-content;
        border: solid black 1px;
        background-color: white;
        border-radius: 5px;
        padding: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        gap: 1em;
    }
}
    
.lid-toevoegen-container{
    padding: 2em;
}

summary::before {
	content: '+';
	margin-left: 0.5em;
    font-size: 25px;
    transition: transform 0.3s ease;
    display: inline-block;
    vertical-align: middle;
}

details summary::-webkit-details-marker {
    display:none;
}

details[open] summary::before {
	transform: rotate(45deg);
}

summary{
    display: flex;
    align-items: center;
	cursor: pointer;
	gap: 0.5em;
    font-weight: bold;
}

/* footer */

footer ul li{
    list-style: none;
}

.footer-logo-section, .footer-navigation-list-section, .footer-info-section{
    border-bottom: 1px solid black;
}

.footer-logo-section{
    display: flex;
    flex-direction: column;
    .logo{
        margin-left: 2em;
        margin-top: 3em;
        margin-bottom: 2em;
    }
    a{
        margin-left: 2em;
        margin-bottom: 2em;
        color: var(--blue);
        display: flex;
        img{
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
        }
    }
}

.footer-navigation-list-section ul{
    text-decoration: underline;
    text-underline-offset: 5px;
    margin-left: 2em;
    padding: 0;
    margin-bottom: 2em;
    margin-top: 2em;
}

.footer-info-section{
    display: flex;
    flex-direction: column;
}
.footer-info-section-address{
    padding: 0;
    margin-left: 2em;
}
.footer-info-section-contact{
    padding: 0;
    margin-left: 2em;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.footer-info-section-address li:first-child p {
    font-weight: bold;
}

.footer-socialmedia-section{
    margin-left: 2em;
    ul{
        display: flex;
        flex-direction: row;
        padding: 0;
        gap: 1em;
        text-decoration: underline;
    }
}

  /* https://www.youtube.com/watch?v=nAjR0Oj0J8E */

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.logos{
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.logos::before,
.logos::after{
    position: absolute;
    top: 0;
    width: 5em;
    height: 100%; 
    content: "";
    z-index: 2;
}

.logos::before{
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(255, 255, 255)); 
    left: 0; 
}

.logos::after{
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255)); 
   right: 0;
}

.logos-slide{
    display: inline-block;    
    animation: 35s slide infinite linear;
}

.logos-slide img{
    height: 8em;
    width: 8em;
    border: solid black 1px;
    padding: 1em;
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

/* loadingstate */
.loader button span {
    border: 10px solid #f3f3f3;
    border-top: 10px solid black;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    animation: spin .7s cubic-bezier(.21,-0.03,.08,.91) infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.pop-up{
    border: solid rgb(3, 210, 3) 1px;
    background-color: rgb(131, 255, 131);
    color: green;
    width: fit-content;
    padding: 0 1em 0 1em;
    border-radius: 10px;
    position: fixed;
    margin-top: 1em;
    top: 0;
    margin-left: 33%;
    text-transform: uppercase;
    display: none;
}

.show{
    display: block;
}

/* header */
.hamburger-svg, .kruis-svg{
    border: solid var(--black) 1px;
    background-color: var(--white);
    width: clamp(3em, 6vw, 4em);
    height: clamp(3em, 6vw, 4em);
    cursor: pointer;

}

.logo{
    width: clamp(4em, 6vw, 6em);
    height: clamp(4em, 6vw, 6em);
    cursor: pointer;
}

.menu-btn{
    border: none;
    background-color: var(--white);

}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    border-bottom: solid var(--black) 1px;
    padding: 1em;

}

.nav-list{
    padding: 0;
    list-style: none;
    li a{
        text-decoration: none;
        color: var(--black);
    }

}

.nav-actions{
    display: flex;
    flex-direction: column;
    gap: 1em;

    .inloggen-link{
        display: flex;
        align-items: center;
        gap: 0.5em;
        font-weight: normal;
    }
    .lid-worden-link{
        border: solid var(--black) 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--black);
        font-weight: normal;
        padding: 0.5em;
    }
    .lid-worden-container{
        display: flex;
    }
    .lid-worden-svg{
        border-top: solid var(--black) 1px;
        border-bottom: solid var(--black) 1px;
        border-right: solid var(--black) 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
    }

}

.main-nav{
    background-color: var(--white);
    height: 100%;
    width: 75%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    justify-content: space-between;
    display: none;

    .menu-close-link{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding: 1em;
        border-bottom: 1px solid var(--black);
        img{
            padding: 0.5em;
        }
    }
}

.bar {
    margin: 1em;
    border: 0.5px solid var(--black);
}


@media (min-width: 975px) {

    header{
        border: none;
        justify-content: unset;
    }
    .main-nav {
      display: flex;
      align-items: center;
      position: static;
      width: 100%;
      margin-left: 2em;
    }
  
    .nav-list {
      display: flex;
      white-space: nowrap;
      gap: 2em;
    }
  
    .nav-actions {
      flex-direction: row;
      align-items: center;
      gap: 2em;
      white-space: nowrap;
      justify-content: flex-end;
    }
  
    .main-nav .menu-close-link, .bar, .menu-open-link {
        display: none;
    }
  }
  
#menu:target {
	display: block;
}

.lid-title{
    width: fit-content;
}

.nav-open #menu{
    display: block;
}