/* Kleuren */
:root {
    --black: #222226;
    --grey: #666666;
    --white: #FFFFFF;
    --blue: #364BF7;
}

/* ===== TYPOGRAFIE ===== */
h1 {
    font-size: clamp(48px, 6vw, 96px);
    font-weight: 600;
    line-height: clamp(48px, 6vw, 96px);
    letter-spacing: -0.04em;
    text-transform: uppercase;
}

h2 {
    font-size: clamp(32px, 4vw, 48px);
    font-weight: 600;
    line-height: clamp(32px, 4vw, 48px);
    letter-spacing: -0.04em;
    text-transform: uppercase;
}

.text {
    font-size: clamp(18px, 2.5vw, 24px);
    font-weight: 400;
    line-height: 40px;
}

p {
    font-size: clamp(16px, 2vw, 18px);
    font-weight: 400;
    line-height: clamp(24px, 3vw, 32px);
}

li a{
    font-size: clamp(16px, 2vw, 18px);
    font-weight: 400;
    line-height: clamp(24px, 3vw, 32px);
}

.subtext{
    font-family: 'Martian Mono', monospace;
    font-size: clamp(16px, 2vw, 18px);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
}

a{
    font-family: 'Martian Mono', monospace;
    font-size: clamp(16px, 2vw, 18px);
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}
